{% load bootstrap3 i18n %}

<form method="get" id="{{ form_id }}">
    <input type="hidden" name="page" value="{{ page_obj.number }}">
    <div class="row">
        {% block form_fields %}
            {% comment %} DEFINE FORM FIELDS {% endcomment %}
        {% endblock %}
        <br>
        <div class="col-md-2">
            <button type="button" onclick="reloadSearchResult();" class="btn btn-primary"
                    name="search" title="search">
                <em class="fa fa-search"></em>
            </button>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="cold-md-3 pull-right">
        <button class="btn btn-primary" id="button_attach_modal">{% trans 'Attach' %}</button>
    </div>
</div>

<table id="table_education_groups" class="table table-striped table-responsive" style="width: 100%;">
    <thead>
        <tr>
            {% block table_header %}

            {% endblock table_header %}
        </tr>
    </thead>
</table>

<div class="text-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="#" onclick="submit_with_page('{{ page_obj.previous_page_number }}')">&laquo;</a>
            </li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}

                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="#" onclick="submit_with_page('{{ i }}')">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="#" onclick="submit_with_page('{{ page_obj.next_page_number }}')">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>

{% block script %}

{% endblock script %}