{% extends "base/blocks/quick_search_base.html" %}
{% load static i18n %}
{% load bootstrap3 %}

{% block form_fields %}
    {% bootstrap_field form.academic_year form_group_class="hidden" %}
    {% bootstrap_field form.acronym form_group_class="col-md-3" %}
    {% bootstrap_field form.title form_group_class="col-md-6" %}
{% endblock %}

{% block table_header%}
    <th id="th_0_temp">{% trans 'Ac yr.' %}</th>
    <th id="th_1_academic_year">{% trans 'Ac yr.' %}</th>
    <th id="th_2_acronym">{% trans 'Acronym/Short title' %}</th>
    <th id="th_3_title">{% trans 'Title' %}</th>
{% endblock %}

{% block script %}
<script src="{% static "js/osis_datatable.js" %}"></script>
<script>
    $(document).ready(function()
    {
        columnDefs = [
            {
                "name": "temp",
                "targets": 0,
                "data": "acronym",
                "render": function(data, type, row, meta) {
                    let input = document.createElement("input");
                    input.type = 'radio';
                    input.name = 'selected_item';
                    input.value = data;
                    input.setAttribute('data-url', row['url']);
                    return input.outerHTML;
                }
            },
            {
                "name": "academic_year",
                "targets": 1,
                "data": "academic_year"
            },
            {
                "name": "acronym",
                "targets": 2,
                "data": "acronym",
                "render": function ( data, type, row, meta ) {
                    return '<a href="'+ row['osis_url'] +'">'+ data + '</a>';
                }
            },
            { "name": "title", "targets": 3, "data": "title"},
        ];
        var table = initializeDataTable("table_education_groups", "educationGroupsLightIds", 1,
            10, "{{ form_url }}", columnDefs);

        table.on('draw', function(){
            $("input[name=selected_item]").each(function(index, element){
                element.addEventListener('click', function(e){
                    const url = e.target.getAttribute('data-url');
                    select_element_from_url(url);
                })
            });
        });


        function select_element_from_url(url){
            let egy_id = getIdFromUrl(url);
            select_element(egy_id);
        }

        // FIXME This method is copy pasted Refactor
        function getIdFromUrl(url){
            let split = url.split("/");
            for(let i=split.length-1; i--; i >= 0){
                if(!isNaN(split[i])){
                    return parseInt(split[i]);
                }
            }
            return NaN;
        }

        function select_element(egy_id) {
            $.ajax({
                type: "POST",
                url: "/educationgroups/"+ egy_id + "/" + egy_id + "/select/",
                data: {'element_id': egy_id},
                dataType: 'json',
                success: function (jsonResponse) {
                    console.log(jsonResponse);
                    displayInfoMessage(jsonResponse, 'clipboard');
                }
            });
        }

    });
</script>
{% endblock script %}
