{% load bootstrap3 i18n %}

<form method="get" id="form-modal-eg-search" action="{{ quick_search_eg }}" class="stay_in_modal">
    <input type="hidden" name="page" value="{{ page_obj.number }}">
    <div class="row">
        {% bootstrap_field eg_form.acronym form_group_class="col-md-3" %}
        {% bootstrap_field eg_form.title form_group_class="col-md-6" %}
        <br>
        <div class="col-md-2">
            <button type="button" onclick="$('#form-modal-eg-search').submit();" class="btn btn-primary"
                    name="search" title="search">
                <em class="fa fa-search"></em>
            </button>
        </div>
    </div>
</form>
<br>
<table class="table table-striped table-responsive">
    <tbody>
    {% for object in eg_object_list %}
        <tr>
            <td>
                <button onclick="select('{% url "education_group_select" object.pk object.pk %}',{'element_id': {{ object.pk }}})">
                    <i class="fas fa-file-import"></i>
                </button>
            </td>
            <td><a href="{{ object.get_absolute_url }}">{{ object.acronym }}</a></td>
            <td>{{ object.complete_title }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="#" onclick="submit_with_page('{{ page_obj.previous_page_number }}')">&laquo;</a>
            </li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}

                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="#" onclick="submit_with_page('{{ i }}')">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="#" onclick="submit_with_page('{{ page_obj.next_page_number }}')">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>