{% load i18n %}

<div class="texte-base">
    {{ skills_and_achievements_introduction }}
</div>
<br/>
<div id="achievements">
    <script type="text/javascript">
        function showorHide(id){
            if (document.getElementById('cmp_'+id).style.display!= 'none') {
                document.getElementById('cmp_'+id).style.display= 'none';
                document.getElementById('action_'+id).innerHTML = "More";
            }
            else {
                document.getElementById('cmp_'+id).style.display= 'block';
                document.getElementById('action_'+id).innerHTML = "Hide";
            }
        }
    </script>

    <strong>{% trans 'on successful completion of this program, each student is able to'|capfirst %} :</strong><br>

    {% for achievement in achievements %}
        <div id="achievement_{{ forloop.counter }}" class="reddot_teaser">
            {# This is an fix until the data is corrected. The dot only means that user has not extract code_name from rich text #}
            {% if achievement.code_name != '.' %}
                {{ achievement.code_name  }}&nbsp;
            {% endif %}
            {{ achievement.french_text  }}
        </div>
        <div class="link_action_showHide" style="text-indent:25px">
            <a id="action_{{ forloop.counter }}" href="javascript:showorHide('{{ forloop.counter }}')" name="action_{{ forloop.counter }}">More</a>
        </div>
        <div class="clear"></div>

        <div id="cmp_{{ forloop.counter }}" class="composant-info" style="display:none;">
             {% for detailed_achievement in achievements.detailed_achievements %}
                <p>
                   {# This is an fix until the data is corrected. The dot only means that user has not extract code_name from rich text #}
                   {% if detailed_achievement.code_name != '.' %}
                     {{ detailed_achievement.code_name  }}&nbsp;
                   {% endif %}
                   {{ detailed_achievement.french_text  }}
                </p>
             {% endfor %}
        </div>
    {% endfor %}
</div>


{% if skills_and_achievements_additional_text %}
    <!-- compétences et acquis - extra content -->
    <div id="comp_acquis_extra_content">
        {{ skills_and_achievements_additional_text }}
    </div>
{% endif %}