{% load i18n static %}

<table class="table table-striped table-hover" id="tb_managers">
    <thead>
    <tr>
        <th>{% trans 'Manager' %}</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for obj in object_list %}
        <tr>
            <td>{{ obj }}</td>
            <td>
                <label>
                    <input type="checkbox" name="is_main" {% if obj.is_main %}checked{% endif %}
                           data-url="{% url 'update_main' obj.pk %}?offer_year={{ offer_years|join:',' }}">
                    {% trans "Main" %}
                </label>
            </td>
            <td>
                <a class="btn btn-default pull-right trigger_modal"
                   data-url="{% url 'delete_manager' obj.pk %}?offer_year={{ offer_years|join:',' }}">
                    <span class="fa fa-minus"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{% if offer_years %}
    <a class="btn btn-primary pull-right trigger_modal"
       title="{% trans 'Add manager' %}"
       data-url="{% url 'create_manager_person' %}?offer_year={{ offer_years|join:',' }}">
        <span class="fa fa-plus"></span>
    </a>
{% endif %}
<script>
    $(document).ready(function () {
        bind_trigger_modal();

        $("input[name='is_main']").click(function () {
            $.post($(this).data('url'), {'is_main': $(this).is(':checked')}).done(
                function (data) {
                    redirect_after_success(null, data)
                });
            $(this).replaceWith("<img src=\"{% static 'img/loading.gif' %}\" alt=\"Loading...\" width='12px' />")
        })
    });
</script>
