{% load bootstrap3 i18n %}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{% trans "Search" %}</h4>
</div>

<div class="modal-body">
    <div id="message_info_modal" class="alert alert-info" role="alert" style="visibility: hidden; display: none;"></div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#eg_search" role="tab" data-toggle="tab">{% trans 'Trainings' %}</a></li>
        <li><a href="#lu_search" role="tab" data-toggle="tab">{% trans 'Learning units' %}</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="eg_search">
            {% include "base/blocks/quick_search_egy.html" %}
        </div>

        <div role="tabpanel" class="tab-pane" id="lu_search">
            {% include "base/blocks/quick_search_luy.html" %}
        </div>
    </div>
</div>

<script>
    function submit_with_page(page) {
        $("input[name='page']").val(page);
        $('#form-modal-eg-search').submit();
    }
</script>