{% load bootstrap3 i18n %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{% trans "Search" %}</h4>
</div>
<div class="modal-body">
    <div id="message_info_modal" class="alert alert-info" role="alert" style="visibility: hidden; display: none;"></div>

    <ul class="nav nav-tabs" role="tablist">
        {% url 'quick_search_education_group' as quick_search_eg %}
        <li {% if request.path == quick_search_eg %} class="active" {% endif %}>
            <a href="#eg_search" role="tab" data-toggle="tab">
                {% trans 'Trainings' %}
            </a>
        </li>
        {% url 'quick_search_learning_unit' as quick_search_lu %}
        <li {% if request.path == quick_search_lu %} class="active" {% endif %}>
            <a href="#lu_search" role="tab" data-toggle="tab">
                {% trans 'Learning units' %}
            </a>
        </li>
    </ul>
    <br>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {% if request.path == quick_search_eg %}active{% endif %}" id="eg_search">
            {% include "base/blocks/quick_search_egy.html" %}
        </div>

        <div role="tabpanel" class="tab-pane {% if request.path == quick_search_lu %}active{% endif %}" id="lu_search">
            {% include "base/blocks/quick_search_luy.html" %}
        </div>
</div>

<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      bind_trigger_modal();
    });

    function submit_with_page(page) {
        $("input[name='page']").val(page);
        $('#form-modal-eg-search').submit();
    }

    function select(url_select, data) {
        $.ajax({
            url: url_select,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (jsonResponse) {
                displayInfoMessage(jsonResponse, 'clipboard');
            }
        });
    }
</script>